name: CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable

      - name: Test
        run: cargo test --all-features
      
      - name: format
        run: cargo fmt --check
      
      - name: clippy
        run: cargo clippy --all-features -- -D warnings
